<%- include("./receptionNav.ejs") %>
<main>
  <%- include("./receptionSidebar.ejs") %>
  <section class="form-win">
    <div class="room-sections">
      <% let sections = ["ICU", "Deluxe", "Super Deluxe", "General Wards"]; %>
      <% sections.forEach(section => { %>
      <div class="room-section">
        <h3><%= section %></h3>
        <div class="room-list">
          <% rooms.forEach(room => { if (room.room_type === section) { %>
          <div class="room-card">
            <strong>Room No: <%= room.room_no %></strong>
            <strong>Type: <%= room.room_type %></strong>
            <strong>Charge: ₹<%= room.charge_per_day %></strong>
            <div class="btn-container">
                <button class="update" value="<%= room.room_id %>" onclick="window.location.href='/reception/getRoomDetails/<%= room.room_id %>'">Update </button>
                <button class="delete" value="<%= room.room_id %>" onclick="deleteRoom(this.value)">Delete</button>
            </div>
          </div>
          <% }}); %>
        </div>
      </div>
      <% }); %>
    </div>
  </section>
</main>
<%- include("receptionFooter") %>
