<%- include("./adminNav.ejs") %>
<main>
    <%- include("./adminSideBar.ejs") %>
<section class="form-win">
        <div id="default-view"  >
            <div class="card">
                <strong>
                    Total Active Doctors 
                </strong>
                <strong class="number">
                    <br> <%= data.doctors %>
                </strong>
            </div>
            <div class="card">
                <strong>
                    Total Admitted Patient 
                </strong>
                <strong class="number">
                    <br> <%= data.totalAdmitted %>
                </strong>
            </div>
            <div class="card">
                <strong>
                    Total Active Receptionist
                </strong>
                <strong class="number">
                    <br> <%= data.receptions %>
                </strong>
            </div>
        </div>
    </section>
</main>
<%- include("adminFooter") %>