<%- include("./adminNav.ejs") %>
<main>
    <%- include("./adminSideBar.ejs") %>
<section class="form-win">
        <div id="viewDoc" >
            <h2>View Doctors</h2>
            <input type="text" id="search" placeholder="Search by name " onkeyup="searchDoc(this)">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Specialization</th>
                        <th>Experience</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% doctors.forEach(function(doctor) { %>
                    <tr>
                        <td><%= doctor.doctor_name %></td>
                        <td><%= doctor.doctor_email %></td>
                        <td><%= doctor.doctor_contact %></td>
                        <td><%= doctor.doctor_specialization %></td>
                        <td><%= doctor.doctor_experience %></td>
                        <td><%= doctor.status %></td>
                        <td>
                            <a class="update" href="/getDoctor/?id=<%= doctor.doctor_id %>">Update</a>
                        </td>
                        <td>
                            <a  class="delete" href="/deleteDoctor/?id=<%= doctor.user_id %>">Delete</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>
    </section>
</main>
<%- include("adminFooter") %>