<%- include("./doctorNav.ejs") %>
<main>
    <%- include("./doctorSidebar.ejs") %>
<section class="form-win">
        <div id="viewDoc" >
            <h2>Admitted Patient</h2>
            <input type="text" id="search" placeholder="Search by name " onkeyup="searchPatient(this)">
            <table>
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Age/Gender</th>
                        <th>Contact</th>
                        <th>Issue</th>
                        <th>Admitted</th>
    
                        <th>Status</th>
                        <!-- <th>Update</th> -->
                        
                    </tr>
                </thead>
                <tbody>
                    <% if(patients.length==0) { %>
                        <tr><td colspan="7" style="text-align: center; color: gray; font-style: italic;">
                            No Patient Available</td></tr>
                    <% } %> 
                    <% patients.forEach(function(p,index) { %>
                    <tr>
                        <td><%= index+1%></td>
                        <td><%= p.patient_name %></td> 
                        <td><%= p.patient_age +" / "+ p.patient_gender %></td>
                        <td><%= p.patient_contact %></td>
                        <td><%= p.patient_issue %></td>
                        <td><%= new Date(p.admitted_date).toLocaleDateString('en-IN') %></td>

                        <td class="bill"><%= p.status %></td>
                        
                      
                    </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>

  </section>
</main>
<%- include("doctorFooter") %>